.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-top: 4vh;
  margin-bottom: 4vh !important;
}

.entriesContainer {
  width: 35%;
  min-width: 500px;
  background: transparent;
  border: 0;
}
.entriesContainer > *:first-child {
  padding: 0;
}

@media (max-width: 981px) {
  * {
    /* TODO: how to scale for mobile properly? */
    font-size: 1.25em;
  }

  .entriesContainer {
    width: 90%;
  }
}
