.createContainer {
  text-align: center;
}

.title {
  border-radius: 10px 10px 0 0;
}

.body {
  resize: none;
  min-height: 30vh !important;
  max-height: 50vh;
}

.name {
  border-radius: 0 0 10px 10px;
}

.tags {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px 0 12px 0;
}

.createButton {
  margin-top: 10px;
}
