.entry {
  position: relative;
  width: 100%;
  background: rgba(255,255,255, 0.8);
  margin: 2vh 0;
  border-radius: 15px;
  min-height: 100px;
  padding: 18px 24px;

  display: flex;
  flex-direction: row;
  cursor: default;
}
.entry:first-child {
  margin-top: 0;
}

.entry.compact {
  max-height: 260px;
}

.title {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 3px;
}

.description {
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  .description {
    margin-bottom: 50px;
  }
}

.readMore {
  display: inline-block;
  margin-left: 8px;
  font-size: 0.8em;
  font-style: italic;
}

.metadata {
  position: absolute;
  bottom: 15px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.9em;
}
