.entry {
  position: relative;
  width: 100%;
  background: rgba(255,255,255, 0.8);
  margin: 2vh 0;
  border-radius: 15px;
  min-height: 100px;
  padding: 18px 24px;

  display: flex;
  flex-direction: row;
  cursor: default;
}
.entry:first-child {
  margin-top: 0;
}

.description {
  margin-bottom: 40px;
}
@media (max-width: 981px) {
  .description {
    margin-bottom: 50px;
  }
}

.metadata {
  position: absolute;
  bottom: 18px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.9em;
}
