.vote {
  position: relative;
  left: -10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vote.small {
  left: -5px;
}

.vote > *:not(:last-child) {
  margin-bottom: 2px;
}

.voteCount {
  font-size: 1.2em;
  font-weight: 600;
}
.vote.small .voteCount {
  font-size: 1.0em;
  font-weight: 500;
}

.voteButton > * {
  transform: scale(1.4);
}
.vote.small .voteButton > * {
  transform: scale(1.1);
}
.voteButton.faded {
  opacity: 0.3;
}
@media (max-width: 480px) {
  .vote {
    left: -5px;
    margin-right: 15px;
  }
  .vote > *:not(:last-child) {
    margin-bottom: 5px;
  }
  .voteButton {
    transform: scale(1.2);
  }
}
